
@media (max-width: 1025px) and (min-width: 1024px){
    .footer-up{
        display: none;
    }
    .footer-middle .logo{
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .footer-middle .day {
        width: 33%;
        
        margin: 0 auto;
    }
    .footer-middle .sale {
        width: 33%;
        justify-content: center;
        margin: 0 auto;
    }
    .footer-middle .question {
        width: 33%;
        justify-content: flex-end;
        margin: 0 auto;
    }
}