*{
    color: #4c4b6c;
}
a{
    text-decoration: none;
}

.left{
    float: left;
}
.right{
    float: right;
}
.ul-li{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.bold{
    font-weight: 600;
}
.arrow{
    font-size: 14px;
}
